div.submenu1{
    width: 1380px;
    height: 600px;
    position: absolute;
    right: 155px;
    top: 0;   
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: whitesmoke;
}
div.submenu1>div{
    display: inline-block;
    width: 24.7%;
    height: 550px;
    vertical-align: top;
}
div.submenu1>div:nth-of-type(1){
    width: inherit;
    height: 50px;
}
div.submenu1>div>a{
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    margin-right: 20px;
}
div.submenu1>div>ul:nth-of-type(1){
    list-style: none;
}
div.submenu1>div>ul>li{
    margin-top: 20px;
    margin-right: 20px;
    font-size: 15px;
}
div.submenu1>div>ul>li>a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    transition: 500ms;
}
div.submenu1>div>a{
    text-decoration: none;
    font-size: 15px;
    color: skyblue;
}
div.submenu1>div:nth-of-type(2)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu1>div:nth-of-type(3)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu1>div:nth-of-type(3)>ul>li:nth-of-type(9){
    font-weight: bold;
}
div.submenu1>div:nth-of-type(3)>ul>li:nth-of-type(20){
    font-weight: bold;
}
div.submenu1>div:nth-of-type(3)>ul>li:nth-of-type(27){
    font-weight: bold;
}
div.submenu1>div:nth-of-type(4)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu1>div:nth-of-type(4)>ul>li:nth-of-type(8){
    font-weight: bold;
}
div.submenu1>div:nth-of-type(4)>ul>li:nth-of-type(14){
    font-weight: bold;
}
div.submenu1>div:nth-of-type(4)>ul>li:nth-of-type(22){
    font-weight: bold;
}
div.submenu1>div:nth-of-type(5)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu1>div>ul>li>a:hover{
    color: crimson;
}
div.submenu>ul>li:hover>div.submenu1{
    display: block;
}

div.submenu>ul>li:hover>div.submenu2{
    display: block;
}
div.submenu2{
    width: 1380px;
    height: 600px;
    position: absolute;
    right: 155px;
    top: 0;   
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: whitesmoke;
}
div.submenu2>div{
    display: inline-block;
    width: 24.7%;
    height: 550px;
    vertical-align: top;
}
div.submenu2>div:nth-of-type(1){
    width: inherit;
    height: 50px;
}
div.submenu2>div>a{
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    margin-right: 20px;
}
div.submenu2>div>ul:nth-of-type(1){
    list-style: none;
}
div.submenu2>div>ul>li{
    margin-top: 20px;
    margin-right: 20px;
    font-size: 15px;
}
div.submenu2>div>ul>li>a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    transition: 500ms;
}
div.submenu2>div>a{
    text-decoration: none;
    font-size: 15px;
    color: skyblue;
}
div.submenu2>div:nth-of-type(2)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu2>div:nth-of-type(3)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu2>div:nth-of-type(3)>ul>li:nth-of-type(9){
    font-weight: bold;
}
div.submenu2>div:nth-of-type(3)>ul>li:nth-of-type(20){
    font-weight: bold;
}
div.submenu2>div:nth-of-type(3)>ul>li:nth-of-type(27){
    font-weight: bold;
}
div.submenu2>div:nth-of-type(4)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu2>div:nth-of-type(4)>ul>li:nth-of-type(8){
    font-weight: bold;
}
div.submenu2>div:nth-of-type(4)>ul>li:nth-of-type(14){
    font-weight: bold;
}
div.submenu2>div:nth-of-type(4)>ul>li:nth-of-type(22){
    font-weight: bold;
}
div.submenu2>div:nth-of-type(5)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu2>div>ul>li>a:hover{
    color: crimson;
}

div.submenu>ul>li:hover>div.submenu3{
    display: block;
}
div.submenu3{
    width: 1380px;
    height: 600px;
    position: absolute;
    right: 155px;
    top: 0;   
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: whitesmoke;
}
div.submenu3>div{
    display: inline-block;
    width: 24.7%;
    height: 550px;
    vertical-align: top;
}
div.submenu3>div:nth-of-type(1){
    width: inherit;
    height: 50px;
}
div.submenu3>div>a{
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    margin-right: 20px;
}
div.submenu3>div>ul:nth-of-type(1){
    list-style: none;
}
div.submenu3>div>ul>li{
    margin-top: 20px;
    margin-right: 20px;
    font-size: 15px;
}
div.submenu3>div>ul>li>a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    transition: 500ms;
}
div.submenu3>div>a{
    text-decoration: none;
    font-size: 15px;
    color: skyblue;
}
div.submenu3>div:nth-of-type(2)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu3>div:nth-of-type(3)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu3>div:nth-of-type(3)>ul>li:nth-of-type(9){
    font-weight: bold;
}
div.submenu3>div:nth-of-type(3)>ul>li:nth-of-type(20){
    font-weight: bold;
}
div.submenu3>div:nth-of-type(3)>ul>li:nth-of-type(27){
    font-weight: bold;
}
div.submenu3>div:nth-of-type(4)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu3>div:nth-of-type(4)>ul>li:nth-of-type(8){
    font-weight: bold;
}
div.submenu3>div:nth-of-type(4)>ul>li:nth-of-type(14){
    font-weight: bold;
}
div.submenu3>div:nth-of-type(4)>ul>li:nth-of-type(22){
    font-weight: bold;
}
div.submenu3>div:nth-of-type(5)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu3>div>ul>li>a:hover{
    color: crimson;
}

div.submenu>ul>li:hover>div.submenu4{
    display: block;
}
div.submenu4{
    width: 1380px;
    height: 600px;
    position: absolute;
    right: 155px;
    top: 0;   
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: whitesmoke;
}
div.submenu4>div{
    display: inline-block;
    width: 24.7%;
    height: 550px;
    vertical-align: top;
}
div.submenu4>div:nth-of-type(1){
    width: inherit;
    height: 50px;
}
div.submenu4>div>a{
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    margin-right: 20px;
}
div.submenu4>div>ul:nth-of-type(1){
    list-style: none;
}
div.submenu4>div>ul>li{
    margin-top: 20px;
    margin-right: 20px;
    font-size: 15px;
}
div.submenu4>div>ul>li>a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    transition: 500ms;
}
div.submenu4>div>a{
    text-decoration: none;
    font-size: 15px;
    color: skyblue;
}
div.submenu4>div:nth-of-type(2)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu4>div:nth-of-type(3)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu4>div:nth-of-type(3)>ul>li:nth-of-type(9){
    font-weight: bold;
}
div.submenu4>div:nth-of-type(3)>ul>li:nth-of-type(20){
    font-weight: bold;
}
div.submenu4>div:nth-of-type(3)>ul>li:nth-of-type(27){
    font-weight: bold;
}
div.submenu4>div:nth-of-type(4)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu4>div:nth-of-type(4)>ul>li:nth-of-type(8){
    font-weight: bold;
}
div.submenu4>div:nth-of-type(4)>ul>li:nth-of-type(14){
    font-weight: bold;
}
div.submenu4>div:nth-of-type(4)>ul>li:nth-of-type(22){
    font-weight: bold;
}
div.submenu4>div:nth-of-type(5)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu4>div>ul>li>a:hover{
    color: crimson;
}

div.submenu>ul>li:hover>div.submenu5{
    display: block;
}
div.submenu5{
    width: 1380px;
    height: 600px;
    position: absolute;
    right: 155px;
    top: 0;   
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: whitesmoke;
}
div.submenu5>div{
    display: inline-block;
    width: 24.7%;
    height: 550px;
    vertical-align: top;
}
div.submenu5>div:nth-of-type(1){
    width: inherit;
    height: 50px;
}
div.submenu5>div>a{
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    margin-right: 20px;
}
div.submenu5>div>ul:nth-of-type(1){
    list-style: none;
}
div.submenu5>div>ul>li{
    margin-top: 20px;
    margin-right: 20px;
    font-size: 15px;
}
div.submenu5>div>ul>li>a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    transition: 500ms;
}
div.submenu5>div>a{
    text-decoration: none;
    font-size: 15px;
    color: skyblue;
}
div.submenu5>div:nth-of-type(2)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu5>div:nth-of-type(3)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu5>div:nth-of-type(3)>ul>li:nth-of-type(9){
    font-weight: bold;
}
div.submenu5>div:nth-of-type(3)>ul>li:nth-of-type(20){
    font-weight: bold;
}
div.submenu5>div:nth-of-type(3)>ul>li:nth-of-type(27){
    font-weight: bold;
}
div.submenu5>div:nth-of-type(4)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu5>div:nth-of-type(4)>ul>li:nth-of-type(8){
    font-weight: bold;
}
div.submenu5>div:nth-of-type(4)>ul>li:nth-of-type(14){
    font-weight: bold;
}
div.submenu5>div:nth-of-type(4)>ul>li:nth-of-type(22){
    font-weight: bold;
}
div.submenu5>div:nth-of-type(5)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu5>div>ul>li>a:hover{
    color: crimson;
}

div.submenu>ul>li:hover>div.submenu6{
    display: block;
}
div.submenu6{
    width: 1380px;
    height: 600px;
    position: absolute;
    right: 155px;
    top: 0;   
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: whitesmoke;
}
div.submenu6>div{
    display: inline-block;
    width: 24.7%;
    height: 550px;
    vertical-align: top;
}
div.submenu6>div:nth-of-type(1){
    width: inherit;
    height: 50px;
}
div.submenu6>div>a{
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    margin-right: 20px;
}
div.submenu6>div>ul:nth-of-type(1){
    list-style: none;
}
div.submenu6>div>ul>li{
    margin-top: 20px;
    margin-right: 20px;
    font-size: 15px;
}
div.submenu6>div>ul>li>a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    transition: 500ms;
}
div.submenu6>div>a{
    text-decoration: none;
    font-size: 15px;
    color: skyblue;
}
div.submenu6>div:nth-of-type(2)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu6>div:nth-of-type(3)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu6>div:nth-of-type(3)>ul>li:nth-of-type(9){
    font-weight: bold;
}
div.submenu6>div:nth-of-type(3)>ul>li:nth-of-type(20){
    font-weight: bold;
}
div.submenu6>div:nth-of-type(3)>ul>li:nth-of-type(27){
    font-weight: bold;
}
div.submenu6>div:nth-of-type(4)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu6>div:nth-of-type(4)>ul>li:nth-of-type(8){
    font-weight: bold;
}
div.submenu6>div:nth-of-type(4)>ul>li:nth-of-type(14){
    font-weight: bold;
}
div.submenu6>div:nth-of-type(4)>ul>li:nth-of-type(22){
    font-weight: bold;
}
div.submenu6>div:nth-of-type(5)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu6>div>ul>li>a:hover{
    color: crimson;
}

div.submenu>ul>li:hover>div.submenu7{
    display: block;
}
div.submenu7{
    width: 1380px;
    height: 600px;
    position: absolute;
    right: 155px;
    top: 0;   
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: whitesmoke;
}
div.submenu7>div{
    display: inline-block;
    width: 24.7%;
    height: 550px;
    vertical-align: top;
}
div.submenu7>div:nth-of-type(1){
    width: inherit;
    height: 50px;
}
div.submenu7>div>a{
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    margin-right: 20px;
}
div.submenu7>div>ul:nth-of-type(1){
    list-style: none;
}
div.submenu7>div>ul>li{
    margin-top: 20px;
    margin-right: 20px;
    font-size: 15px;
}
div.submenu7>div>ul>li>a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    transition: 500ms;
}
div.submenu7>div>a{
    text-decoration: none;
    font-size: 15px;
    color: skyblue;
}
div.submenu7>div:nth-of-type(2)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu7>div:nth-of-type(3)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu7>div:nth-of-type(3)>ul>li:nth-of-type(9){
    font-weight: bold;
}
div.submenu7>div:nth-of-type(3)>ul>li:nth-of-type(20){
    font-weight: bold;
}
div.submenu7>div:nth-of-type(3)>ul>li:nth-of-type(27){
    font-weight: bold;
}
div.submenu7>div:nth-of-type(4)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu7>div:nth-of-type(4)>ul>li:nth-of-type(8){
    font-weight: bold;
}
div.submenu7>div:nth-of-type(4)>ul>li:nth-of-type(14){
    font-weight: bold;
}
div.submenu7>div:nth-of-type(4)>ul>li:nth-of-type(22){
    font-weight: bold;
}
div.submenu7>div:nth-of-type(5)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu7>div>ul>li>a:hover{
    color: crimson;
}

div.submenu>ul>li:hover>div.submenu8{
    display: block;
}
div.submenu8{
    width: 1380px;
    height: 600px;
    position: absolute;
    right: 155px;
    top: 0;   
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: whitesmoke;
}
div.submenu8>div{
    display: inline-block;
    width: 24.7%;
    height: 550px;
    vertical-align: top;
}
div.submenu8>div:nth-of-type(1){
    width: inherit;
    height: 50px;
}
div.submenu8>div>a{
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    margin-right: 20px;
}
div.submenu8>div>ul:nth-of-type(1){
    list-style: none;
}
div.submenu8>div>ul>li{
    margin-top: 20px;
    margin-right: 20px;
    font-size: 15px;
}
div.submenu8>div>ul>li>a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    transition: 500ms;
}
div.submenu8>div>a{
    text-decoration: none;
    font-size: 15px;
    color: skyblue;
}
div.submenu8>div:nth-of-type(2)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu8>div:nth-of-type(3)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu8>div:nth-of-type(3)>ul>li:nth-of-type(9){
    font-weight: bold;
}
div.submenu8>div:nth-of-type(3)>ul>li:nth-of-type(20){
    font-weight: bold;
}
div.submenu8>div:nth-of-type(3)>ul>li:nth-of-type(27){
    font-weight: bold;
}
div.submenu8>div:nth-of-type(4)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu8>div:nth-of-type(4)>ul>li:nth-of-type(8){
    font-weight: bold;
}
div.submenu8>div:nth-of-type(4)>ul>li:nth-of-type(14){
    font-weight: bold;
}
div.submenu8>div:nth-of-type(4)>ul>li:nth-of-type(22){
    font-weight: bold;
}
div.submenu8>div:nth-of-type(5)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu8>div>ul>li>a:hover{
    color: crimson;
}

div.submenu>ul>li:hover>div.submenu9{
    display: block;
}
div.submenu9{
    width: 1380px;
    height: 600px;
    position: absolute;
    right: 155px;
    top: 0;   
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: whitesmoke;
}
div.submenu9>div{
    display: inline-block;
    width: 24.7%;
    height: 550px;
    vertical-align: top;
}
div.submenu9>div:nth-of-type(1){
    width: inherit;
    height: 50px;
}
div.submenu9>div>a{
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    margin-right: 20px;
}
div.submenu9>div>ul:nth-of-type(1){
    list-style: none;
}
div.submenu9>div>ul>li{
    margin-top: 20px;
    margin-right: 20px;
    font-size: 15px;
}
div.submenu9>div>ul>li>a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    transition: 500ms;
}
div.submenu9>div>a{
    text-decoration: none;
    font-size: 15px;
    color: skyblue;
}
div.submenu9>div:nth-of-type(2)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu9>div:nth-of-type(3)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu9>div:nth-of-type(3)>ul>li:nth-of-type(9){
    font-weight: bold;
}
div.submenu9>div:nth-of-type(3)>ul>li:nth-of-type(20){
    font-weight: bold;
}
div.submenu9>div:nth-of-type(3)>ul>li:nth-of-type(27){
    font-weight: bold;
}
div.submenu9>div:nth-of-type(4)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu9>div:nth-of-type(4)>ul>li:nth-of-type(8){
    font-weight: bold;
}
div.submenu9>div:nth-of-type(4)>ul>li:nth-of-type(14){
    font-weight: bold;
}
div.submenu9>div:nth-of-type(4)>ul>li:nth-of-type(22){
    font-weight: bold;
}
div.submenu9>div:nth-of-type(5)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu9>div>ul>li>a:hover{
    color: crimson;
}

div.submenu>ul>li:hover>div.submenu10{
    display: block;
}
div.submenu10{
    width: 1380px;
    height: 600px;
    position: absolute;
    right: 155px;
    top: 0;   
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: whitesmoke;
}
div.submenu10>div{
    display: inline-block;
    width: 24.7%;
    height: 550px;
    vertical-align: top;
}
div.submenu10>div:nth-of-type(1){
    width: inherit;
    height: 50px;
}
div.submenu10>div>a{
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    margin-right: 20px;
}
div.submenu10>div>ul:nth-of-type(1){
    list-style: none;
}
div.submenu10>div>ul>li{
    margin-top: 20px;
    margin-right: 20px;
    font-size: 15px;
}
div.submenu10>div>ul>li>a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    transition: 500ms;
}
div.submenu10>div>a{
    text-decoration: none;
    font-size: 15px;
    color: skyblue;
}
div.submenu10>div:nth-of-type(2)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu10>div:nth-of-type(3)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu10>div:nth-of-type(3)>ul>li:nth-of-type(9){
    font-weight: bold;
}
div.submenu10>div:nth-of-type(3)>ul>li:nth-of-type(20){
    font-weight: bold;
}
div.submenu10>div:nth-of-type(3)>ul>li:nth-of-type(27){
    font-weight: bold;
}
div.submenu10>div:nth-of-type(4)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu10>div:nth-of-type(4)>ul>li:nth-of-type(8){
    font-weight: bold;
}
div.submenu10>div:nth-of-type(4)>ul>li:nth-of-type(14){
    font-weight: bold;
}
div.submenu10>div:nth-of-type(4)>ul>li:nth-of-type(22){
    font-weight: bold;
}
div.submenu10>div:nth-of-type(5)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu10>div>ul>li>a:hover{
    color: crimson;
}

div.submenu>ul>li:hover>div.submenu11{
    display: block;
}
div.submenu11{
    width: 1380px;
    height: 600px;
    position: absolute;
    right: 155px;
    top: 0;   
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: whitesmoke;
}
div.submenu11>div{
    display: inline-block;
    width: 24.7%;
    height: 550px;
    vertical-align: top;
}
div.submenu11>div:nth-of-type(1){
    width: inherit;
    height: 50px;
}
div.submenu11>div>a{
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    margin-right: 20px;
}
div.submenu11>div>ul:nth-of-type(1){
    list-style: none;
}
div.submenu11>div>ul>li{
    margin-top: 20px;
    margin-right: 20px;
    font-size: 15px;
}
div.submenu11>div>ul>li>a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    transition: 500ms;
}
div.submenu11>div>a{
    text-decoration: none;
    font-size: 15px;
    color: skyblue;
}
div.submenu11>div:nth-of-type(2)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu11>div:nth-of-type(3)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu11>div:nth-of-type(3)>ul>li:nth-of-type(9){
    font-weight: bold;
}
div.submenu11>div:nth-of-type(3)>ul>li:nth-of-type(20){
    font-weight: bold;
}
div.submenu11>div:nth-of-type(3)>ul>li:nth-of-type(27){
    font-weight: bold;
}
div.submenu11>div:nth-of-type(4)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu11>div:nth-of-type(4)>ul>li:nth-of-type(8){
    font-weight: bold;
}
div.submenu11>div:nth-of-type(4)>ul>li:nth-of-type(14){
    font-weight: bold;
}
div.submenu11>div:nth-of-type(4)>ul>li:nth-of-type(22){
    font-weight: bold;
}
div.submenu11>div:nth-of-type(5)>ul>li:nth-of-type(1){
    font-weight: bold;
}
div.submenu11>div>ul>li>a:hover{
    color: crimson;
}